html{
    font-family: monospace, monospace;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

img{
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: optimize-contrast;
}

body {
        color: white;
        background-color: #151515;
	font-size: 12px;
}

.podcastbox {
    color: #000000;
    background-color: #aaaaaa;
    margin: 45 auto;
    left: 50%;
    min-height: 10em;
    border-width: 4px;
    border-style: ridge;
    max-width: 42em;
    padding: 4px;
    text-align: center;
}

.podcastthumb {
    border-width: 4px;
    border-style: groove;
}
    

ul{
	max-width: 50em;
	margin: 20 auto;
	left: 50%;
}

h1{
	font-size: 1.5em;
	text-align: center;
}

h2{
	font-size:1.3em;
	text-align: center;
}

a:link{
}

a:visited{
}

a:hover{
}

code{
	color:white;
	background-color:#333333;
	padding:1px;
}
